[run]
branch = true
source =
    fog_director_simulator
    tests

[report]
exclude_lines =
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if getattr(typing, 'TYPE_CHECKING', False):
    if typing.TYPE_CHECKING:
    pragma: no cover

show_missing = True
skip_covered = True
precision = 2
