body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.myAppDeviceGrid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas:
    'deviceId deviceId deviceId deviceId deviceId timeInstalled timeInstalled timeInstalled'
    'start start start start stop stop stop stop';
  grid-gap: 1px;
  background-color: #2196F3;
  padding: 1px;
}
.myAppDeviceGrid > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 1px 0;
  font-size: 15px;
}