.main_bordered {
    box-shadow: 
        0 0 0 10px hsl(0, 0%, 50%),
        0 0 0 15px hsl(0, 0%, 60%),
        0 0 0 20px hsl(0, 0%, 70%),
        0 0 0 25px hsl(0, 0%, 80%),
        0 0 0 30px hsl(0, 0%, 90%);
    text-align: center;
    margin: 50px auto;
}
.dotted_border {
    border-style: dashed;
    margin: 5px;
}